/*-------------ZULETZT GEÄNDERT AM 14.08.2016---------------------------------*/

/*########################Variablendeklarationen##############################*/
:root {
    --hauptfarbeDunkel: black; /*Hauptfarbe DUNKEL*/
    --hauptfarbeHell: rgb(189, 189, 189); /*Haubtfarbe HELL*/
    --hauptfarbeHellMidOp: rgba(189, 189, 189, 0.5);
    --kontrastfarbeDunkel: rgb(84, 84, 84); /*Kontrastfarbe DUNKEL*/
    --kontrastfarbeHalbdunkel: rgb(176, 176, 176); /*Kontrastfarbe HALBDUNKEL*/
    --kontrastfarbeHell: white; /*Kontrastfarbe HELL*/
    --farbe4: black;
    --farbe5: grey;
    --farbe6: rgb(242, 242, 242);
    --smallFont: 8px;
    --normalFont: 12px;
    --largeFont: 16px;
    --veryLargeFont: 24px;
}
/*############################################################################*/


/*##############################Basislayout###################################*/
@font-face {
    font-family: montserrat;
    src: url(../src/montserrat-regular-webfont.woff);
}
@font-face {
    font-family: montserrat;
    src: url(../src/montserrat-bold-webfont.woff);
    font-weight: bold;
}
@font-face {
    font-family: museoS;
    src: url(../src/31DEE0_0_0.woff2);
}
@font-face {
    font-family: museoL;
    src: url(../src/31DEE0_1_0.woff2);
}
* {
    box-sizing: border-box;
    font-family: museoS;
}
h2, h1 {
    font-weight: bold;
}
html { /*Scrollbar erzwingen um centering jump zu vermeiden*/
       overflow-y: scroll;
}
nav {
    box-sizing: border-box;
    background-color: var(--hauptfarbeDunkel);
    min-height: 30px;
}
div.mittelsektion {
    display: flex;
    position: relative;
    box-sizing: border-box;
    flex-grow: 1;
    flex-direction: row;
}
article {
    box-shadow: 0px 5px 9px 10px rgba(222,222,222,1);
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    flex-basis: 60%;
    background-color: var(--kontrastfarbeHell);
}
article h2 {
    text-align: center;
}
aside {
    box-sizing: border-box;
    background-color: var(--farbe6);
}
aside.right {
    position: relative;
    z-index: -1;
    margin-left: auto;
    padding: 16px;
    flex-basis: 20%;
}
aside.left {
    position: relative;
    z-index: -1;
    margin-right: auto;
    padding: 16px;
    flex-basis: 20%;
}
footer {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 8px;
    background-color: var(--farbe4);
    color: var(--farbe5);
    margin-top: auto;
    z-index: 30;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.left {
    margin-right: auto;
    padding: 16px;
}
.right {
    margin-left: auto;
    padding: 16px;
}
@media (max-width: 1024px) {
    aside.left {
        display: none;
    }
    article {
        flex-basis: 70%;
        padding: 10px;
    }
    aside.right {
        flex-basis: 30%;
    }
}
@media (max-width: 640px) {
    div.mittelsektion {
        flex-direction: column;
    }
    aside.right {
        margin-left: inherit;
        margin-top: auto;
    }
}
/*----------------------------------------------------------------------------*/
/*############################################################################*/


/*###########################Spezialisierungen################################*/
/*body------------------------------------------------------------------------*/
body > header:first-of-type {
    min-height: 50px;
    max-height: 100px;
}
/*----------------------------------------------------------------------------*/


/*Navigation------------------------------------------------------------------*/
nav.horizontal {
    position: relative;
    z-index: 20;
    background-color: var(--kontrastfarbeDunkel);
    display: flex;
    width: 100%;
    flex-shrink: 0;
    box-shadow: -1px 3px 6px grey;
}
nav.horizontal a{
    position: relative;
    font-weight: bold;
    color: var(--kontrastfarbeHalbdunkel);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    background-color: var(--kontrastfarbeDunkel);
    -webkit-transition: color 400ms linear, background-color 400ms linear;
    -moz-transition: color 400ms linear, background-color 400ms linear;
    -o-transition: color 400ms linear, background-color 400ms linear;
    -ms-transition: color 400ms linear, background-color 400ms linear;
    transition: color 400ms linear, background-color 400ms linear;
}
nav.horizontal a.active{
    background-color: var(--hauptfarbeDunkel);
    color: var(--kontrastfarbeHell);
}
nav.horizontal a:last-child {
    margin-left: auto;
    border-right: none;
}
/*Folgendes positioniert kleine Pfeile an die Navigationselemente; content,
damit was bebordert werden kann, absolute positionierung (parent muss meine ich
relativ sein), danach die Positionierung des Objektes. Margin left , weils sonst
nicht mittig liegt, da die linke obere Kante gezählt wird.die Borderdarstellung
sorgt für ein Dreieck...siehe Internet warum. Ist easy.*/
nav.horizontal a.active::after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 50%;
    margin-left: -7px;
    border-width: 7px;
    border-style: solid;
    border-color: var(--hauptfarbeDunkel) transparent transparent transparent;
}
nav.horizontal a:hover:not(.active) {
    background-color: var(--hauptfarbeDunkel);
    color: var(--kontrastfarbeHell);
    -webkit-transition: color 400ms linear, background-color 400ms linear;
    -moz-transition: color 400ms linear, background-color 400ms linear;
    -o-transition: color 400ms linear, background-color 400ms linear;
    -ms-transition: color 400ms linear, background-color 400ms linear;
    transition: color 400ms linear, background-color 400ms linear;
}
@media (max-width:460px){
    nav.horizontal {
        flex-direction: column;
        background-color: var(--hauptfarbeDunkel);
    }
    nav.horizontal a {
	    padding: 5px 12px;
        border-right: none;
        border-bottom: 1px solid var(--kontrastfarbeHell);
    }
    nav.horizontal a:last-child {
        margin-left: inherit;
        border-bottom: none;
    }
    nav.horizontal a.active {
        border-left: none;
        border-right: none;
    }
    nav.horizontal a.active::after {
        content: none;
        /*content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -7px;
        border-width: 7px;
        border-style: solid;
        border-color: transparent transparent var(--hauptfarbeDunkel) transparent;*/
    }
}
/*----------------------------------------------------------------------------*/


/*Gästebucheinträgeklassen----------------------------------------------------*/
div.gaestebucheintrag {
    border-bottom: 2px solid var(--hauptfarbeHellMidOp);
    padding: 15px;
    margin: 15px;
    max-width: 600px;
}
div.gaestebucheintrag .gastname {
    font-weight: bold;
}
div.gaestebucheintrag .gastdatum {
    display: inline-block;
    font-style: italic;
    float: right;
}
/*----------------------------------------------------------------------------*/


/*Galleryklassen--------------------------------------------------------------*/
a {
    outline: 0;
}
/*Die ganzen Block-Sachen mache ich, damit das mit dem fitting ans
Parentelement funktioniert*/
div.gallery1 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    padding-bottom: 50px;
    justify-content: center;
    list-style-type: none;
}
div.gallery1 a{
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    flex: 0 auto;
    height: 250px;
    padding: 8px;
}
div.gallery1 img{
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid var(--hauptfarbeHell);
    max-width: 100%;
    max-height: 100%;
    -webkit-transition: border-color .6s 0s, box-shadow 400ms linear;
    -moz-transition: border-color .6s, box-shadow 400ms linear;
    -o-transition: border-color .6s 0s, box-shadow 400ms linear;
    -ms-transition: border-color .6s 0s, box-shadow 400ms linear;
    transition: border-color .6s 0s, box-shadow 400ms linear;
}
div.gallery1 img:hover{
    border: 2px solid var(--hauptfarbeDunkel);
    box-shadow: 0px 0px 8px 6px rgba(212,212,212,0.6);
    -webkit-transition: border-color .6s 0s, box-shadow 400ms linear;
    -moz-transition: border-color .6s, box-shadow 400ms linear;
    -o-transition: border-color .6s 0s, box-shadow 400ms linear;
    -ms-transition: border-color .6s 0s, box-shadow 400ms linear;
    transition: border-color .6s 0s, box-shadow 400ms linear;
}
@media (max-width: 640px) {
    div.gallery1 {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0;
        padding-bottom: 50px;
    }
    div.gallery1 a{
        display: -webkit-flex;
        display: -ms-flexbox;
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: auto;
        padding: 14px;
    }
    div.gallery1 img{
        position: relative;
        display: block;
    }
}
/*----------------------------------------------------------------------------*/


/*Tabledesigns----------------------------------------------------------------*/
table.simpleTable {
    border: 2px solid var(--farbe4);
    border-collapse: collapse;
}
table.simpleTable caption {
    font-size: var(--largeFont);
    font-weight: bold;
}
table.simpleTable thead {
    border-bottom: 2px solid var(--farbe4);
}
table.simpleTable tr:nth-child(even){
    background-color: var(--farbe6);
}
table.simpleTable tbody tr:nth-child(odd) {
    background-color: var(--farbe5);
}
table.simpleTable th,
table.simpleTable td {
    padding: 5px 7px;
    border-bottom: 1px solid var(--farbe4);
    border-right: 1px solid var(--farbe4);
}
/*----------------------------------------------------------------------------*/


/*Visitenkarte/h-card---------------------------------------------------------*/
.h-card {
    overflow: auto;
    padding: 30px 60px;
    border: 5px dotted var(--hauptfarbeHell);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.h-card .p-name {
    display: inline-block;
    width: 99%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.hcard ,.u-email,.p-tel,.p-street-adress,.p-postal-code,.u-url {
    padding-left: 40px;
}
@media (max-width: 1024px) {
    .h-card {
        min-width: 30%;
        max-width: 90%;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 20px;
    }
    .h-card .p-name {
        display: inline-block;
        width: 99%;
        text-align: left;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .hcard ,.u-email,.p-tel,.p-street-adress,.p-postal-code,.u-url {
        padding-left: 7px;
    }
}
@media (max-width: 640px) {
    .h-card {
        padding: 7px;
        font-size: 14px;
        max-width: 100%;
    }
    /*Im folgenden gehts darum, dass Mailadresse und homepage nen linebreak machen*/
    .h-card ,.u-email,.u-url {
        /* These are technically the same, but use both */
        overflow-wrap: break-word;
        word-wrap: break-word;

        -ms-word-break: break-all;
        /* This is the dangerous one in WebKit, as it breaks things wherever */
        word-break: break-all;
        /* Instead use this non-standard one: */
        word-break: break-word;

        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
}
/*----------------------------------------------------------------------------*/


/*Gästebuchform-Styling-------------------------------------------------------*/
form.gaestebuch1 {
    z-index: 40;
    opacity: 0.42;
    position: fixed;
    left: 50%;
    height: 430px;
    bottom: -365px;
    margin-left: -300px;
    width: 600px;
    background-color: var(--hauptfarbeDunkel);
    color: var(--kontrastfarbeHell);
    padding: 20px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    -webkit-transition: opacity .6s 0s, bottom 400ms linear;
    -moz-transition: opacity .6s 0s, bottom 400ms linear;
    -o-transition: opacity .6s 0s, bottom 400ms linear;
    -ms-transition: opacity .6s 0s, bottom 400ms linear;
    transition: opacity .6s 0s, bottom 400ms linear;
}
form.gaestebuch1:hover {
    opacity: 1;
    bottom: 0;
    z-index: 28;
    -webkit-transition: opacity .6s 0s, bottom 400ms linear;
    -moz-transition: opacity .6s 0s, bottom 400ms linear;
    -o-transition: opacity .6s 0s, bottom 400ms linear;
    -ms-transition: opacity .6s 0s, bottom 400ms linear;
    transition: opacity .6s 0s, bottom 400ms linear;
}

form.gaestebuch1 fieldset {
    border: none;
}
form.gaestebuch1 legend {
    width: 100%;
    text-align: center;
    font-size: 18px;
}
form.gaestebuch1 input[type=text],textarea {
    margin-top: 7px;
    margin-bottom: 16px;
    width: 100%;
    resize: none;
}
form.gaestebuch1 textarea {
    min-height: 150px;
}
form.gaestebuch1 button {
  display: inline-block;
  border-radius: 7px;
  background-color: var(--kontrastfarbeDunkel);
  border: none;
  color: var(--kontrastfarbeHell);
  text-align: center;
  font-size: 18px;
  padding: 15px 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

form.gaestebuch1 button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

form.gaestebuch1 button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

form.gaestebuch1 button:hover span {
  padding-right: 25px;
}

form.gaestebuch1 button:hover span:after {
  opacity: 1;
  right: 0;
}
/*----------------------------------------------------------------------------*/


/*****************************Verschiedenes************************************/
.cleared {
    clear: both;
}
.centercontent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headjumper {
    position: fixed;
    z-index: 31;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    padding: 8px 8px;
    right:17px;
    text-decoration: none;
    text-align: center;
    background-color: var(--farbe4);
    color: var(--kontrastfarbeHell);
    border-left: 3px solid var(--farbe4);
    border-right: 3px solid var(--farbe4);
    border-top: 3px solid var(--farbe4);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    opacity: 0;
}
.headjumper.isVisible{
    visibility: visible;
    opacity: 1;
}
.headjumper.lowOp {
    opacity: 0.35;
}
.headjumper.lowOp:hover{
    opacity: 1;
}
.headjumper,
.headjumper.lowOp:hover,
.headjumper.isVisible{
    -webkit-transition: opacity .6s 0s, visibility .6s 0s;
    -moz-transition: opacity .6s 0s, visibility .6s 0s;
    -o-transition: opacity .6s 0s, visibility .6s 0s;
    -ms-transition: opacity .6s 0s, visibility .6s 0s;
    transition: opacity .6s 0s, visibility .6s 0s;
}
@media screen and ( max-width: 460px ) {
  a.headjumper {
    padding: 3px 4px;
    right: 5px;
  }
}
/******************************************************************************/
/*############################################################################*/





/*Artefakte*/

/*Aus der Galleryentwicklungsphase


@media screen and ( max-width: 1366px ){
   div.gallery1 a{
       max-width: 33.333%;
   }
}
@media screen and ( max-width: 1024px ){
   div.gallery1 a{
       max-width: 50%;
   }
}
@media screen and ( max-width: 800px ){
   div.gallery1 {
       justify-content: center;
   }
+
   div.gallery1 a{
       max-width: 100%;
   }
}

*/
